<!-- 
<ion-content class="live-page" [fullscreen]="true">
  <div class="live-container">
    <h2>🎥 Live / VOD Sharing TV</h2>

    <!-- Se live attivo
    <ng-container *ngIf="isLive; else vodTemplate">
      <video id="player" autoplay playsinline controls muted></video>
      <p class="status live">🔴 In diretta</p>
    </ng-container>
     -->

    <!-- Se non è live 
    <ng-template #vodTemplate>
      <video
        *ngIf="currentVideo"
        [src]="currentVideo"
        controls
        autoplay
        playsinline
      ></video>
      <p *ngIf="!currentVideo && !checking">📺 Nessun contenuto disponibile</p>
      <ion-spinner *ngIf="checking"></ion-spinner>
    </ng-template>
  </div>
</ion-content>
 -->
