<!-- 
<ion-content class="admin-live">
  <div class="admin-container">
    <h2>🎙️ Pannello Diretta</h2>

    <video id="preview" autoplay playsinline muted></video>

    <div class="actions">
      <ion-button color="danger" (click)="startBroadcast()" *ngIf="!isStreaming">
        🎬 Avvia trasmissione
      </ion-button>

      <ion-button color="medium" (click)="stopBroadcast()" *ngIf="isStreaming">
        ⏹ Stop
      </ion-button>
    </div>

    <div class="upload-section">
      <label>📤 Carica VOD su Hetzner</label>
      <input type="file" (change)="onSelectFile($event)" />
    </div>
  </div>
</ion-content>
 -->
