<!-- src/app/pages/home/home.component.html -->
<ion-content [fullscreen]="true">

  <!-- 🌌 Sfondo -->
  <app-background></app-background>

  <app-tv-logo></app-tv-logo>
  <app-slogan></app-slogan>

  <!-- 🔝 Canali -->
  <div class="channels-wrapper">
    <app-canali></app-canali>
  </div>

  <!-- 🎥 Live centrale -->
  <div class="live-wrapper">
    <app-live></app-live>
  </div>

  <!-- 📰 RSS Ticker -->
  <app-rss-live-news></app-rss-live-news>

  <!-- 🔻 Footer -->
  <app-footer></app-footer>
</ion-content>

