<!-- src/app/pages/home/home.component.html -->
<!-- Template principale della pagina Home -->
<ion-content [fullscreen]="true">

  <app-background></app-background>
  
  <!-- Logo (deve avere il suo stile nel componente o CSS globale) -->
  <app-tv-logo></app-tv-logo>
  
  <!-- Slogan -->
  <app-slogan></app-slogan>
  
  <!-- Wrapper Canali: Qui si userà il selettore del componente app-canali -->
  <div class="channels-wrapper">
    <!-- Componente Canali con la griglia di link -->
    <app-canali></app-canali>
  </div>
  
  <!-- Wrapper Live: Componente che mostra il video in primo piano -->
  <!-- <div class="live-wrapper">
    <app-live></app-live>
  </div> -->

  <app-live-nativo></app-live-nativo>
  
  <!-- News in tempo reale (RSS) -->
  <app-rss-live-news></app-rss-live-news>
  
  <!-- Footer -->
  <app-footer></app-footer>
  
</ion-content>

